body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom, #b8e427, #f4c542);
  padding: 20;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  text-align: center;
  color: #020202;
}

h2 {
  font-family: "Helvetica", sans-serif;

  text-align: center;
  color: #070707;
}

button {
  background-color: #4caf50;
  color: white;
  font-size: 22px;
  padding: 15px 25px;
  margin: 15px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  
}

button:hover {
  background-color: #1a1a19;
}

div {
  text-align: center;
}


